@model POC_MVC_Biblioteca.ViewModels.UserViewModel
  @using (@Html.BeginForm("EditUser", "User", FormMethod.Post, new { id = "editUser-fmr", @class = "form-horizontal" }))
  {
      @Html.HiddenFor(m => m.Id);
      @Html.HiddenFor(m => m.SamAccountName);
      <div id="cadastro-usuarios-partial-container" class="container-fluid register-form-content form-group">
        <div id="IdSmartDiv" class="row">
          <div class="col-lg-4">
            @Html.Label("Id Smart:")
          </div>
          <div class="col-lg-8">
            @Html.TextBoxFor(m => m.IdSmart, new { @class = "form-control" })
          </div>
        </div>
        <div id="NomeDiv" class="row">
          <div class="col-lg-4">
            @Html.Label("Nome:")
          </div>
          <div class="col-lg-8">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
          </div>
        </div>
        <div id="EmailDiv" class="row">
          <div class="col-lg-4">
            @Html.Label("E-Mail:")
          </div>
          <div class="col-lg-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
          </div>
        </div>
        <div id="AreaDepartamentoDiv" class="row">
          <div class="col-lg-4">
            @Html.Label("Area/Departamento:")
          </div>
          <div class="col-lg-8">
            @Html.TextBoxFor(m => m.AreaDepartament, new { @class = "form-control" })
          </div>
        </div>
        <div id="FuncaoDiv" class="row">
          <div class="col-lg-4">
            @Html.Label("Função:")
          </div>
          <div class="col-lg-8">
            @Html.TextBoxFor(m => m.Function, new { @class = "form-control" })
          </div>
        </div>
        <div id="RamalDiv" class="row">
          <div class="col-lg-4">
            @Html.Label("Ramal:")
          </div>
          <div class="col-lg-8">
            @Html.TextBoxFor(m => m.ExtensionLine, new { @class = "form-control" })
          </div>
        </div>
        <div id="GerenteDiv" class="row">
          <div class="col-lg-4">
            @Html.Label("Gerente:")
          </div>
          <div class="col-lg-8">
            @Html.TextBoxFor(m => m.Manager, new { @class = "form-control" })
          </div>
        </div>
        <div id="Role" class="row">
          <div class="col-lg-4">
            @Html.LabelFor(m => m.RolesId, new { @class = "control-label" })<span>:</span>
          </div>
          <div class="col-lg-8">
            @Html.ListBoxFor(m => m.NewRolesId, Model.Roles, new {@class = "form-control" })
          </div>
        </div>
      </div>
  }

































