@model POC_MVC_Biblioteca.ViewModels.UserViewModel
<h3>Lista de Usuários</h3>
@using (Html.BeginForm("GetUsers", "User", FormMethod.Post, new { id = "QueryUsers-frm", @class = "form - group" }))
{
    <div id="consulta-filtros" class="user-filter">
      <div>
        <label>Filtros:</label>
      </div>
      <label>Nome:</label>
      @Html.TextBoxFor(model => model.Name ,new { @class = "form-control" })
      <label>IdSmart:</label>
      @Html.TextBoxFor(model => model.IdSmart, new { type = "number", min = "0", @Value = "" , @class = "form-control" })
      <label>Departamento:</label>
      @Html.TextBoxFor(model => model.AreaDepartament, new { @class = "form-control" })
      <input type="submit" value="consultar" class="btn btn-sm" />
    </div>
}
<div id="user-list">
  <div class="container">
    <div class="row">
      <table class="table table-striped user-table">
        <thead>
          <tr>
            <th class="col-lg-3"><b>Nome</b></th>
            <th class="col-lg-1"><b>Id</b></th>
            <th class="col-lg-2"><b>Ramal</b></th>
            <th class="col-lg-3"><b>Email</b></th>
            <th class="col-lg-3"><b>Area/Departamento</b></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row user-list">
      <table class="table table-striped table-bordered">
        <tbody>
          @if (!Model.UserList.Any())
          {
              <tr>
                <td>
                  <p>Nao existem Usuários cadastrados</p>
                </td>
              </tr>
          }
          @foreach (var item in Model.UserList)
          {
              <tr>
                <td class="col-lg-3">
                  <label>@item.Name</label>
                </td>
                <td class="col-lg-1">
                  <label>@item.IdSmart</label>
                </td>
                <td class="col-lg-2">
                  <label>@item.ExtensionLine</label>
                </td>
                <td class="col-lg-3">
                  <label>@item.Email</label>
                </td>
                <td class="col-lg-3">
                  <label>@item.AreaDepartament</label>
                </td>
              </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
  $(document).ready(function () {
    GenericPostHandler($("#QueryUsers-frm"), $("#container-partials"));
  });
</script>
