@model POC_MVC_Biblioteca.ViewModels.UserViewModel
<h3>Cadastro de Usuários</h3>
<div id="cadastro-usuario-partial" class="cadastro-usuario-partial">
  <div id="cadastro-usuario-partial-container" class="container-fluid">
    @*<div id="BuscarLoginDiv" class="row">
      <div class="col-lg-2">
        @Html.Label("Buscar por Login:")
      </div>
      <div class="col-lg-10">
        @Html.TextBox("SamAccountName")
      </div>
    </div>*@
    @using (@Html.BeginForm("CreateUser", "User", FormMethod.Post, new { id = "userRegister-fmr" }))
    {
        <div id="SamAccountNameDiv" class="row">
          <div class="col-lg-2">
            @Html.LabelFor(model => model.SamAccountName)<span>:</span>
          </div>
          <div class="col-lg-10">
            @*@Html.TextBoxFor(m => m.SamAccountName, new { Value = "" })*@
            @Html.TextBoxFor(m => m.SamAccountName, new { Value = Model.SamAccountName })
            @Html.ValidationMessageFor(model => model.SamAccountName ,null, new { @class= "validation" })
          </div>
        </div>

        <div id="IdSmartDiv" class="row">
          <div class="col-lg-2">
            @Html.LabelFor(m => m.IdSmart)<span>:</span>
          </div>
          <div class="col-lg-10">
            @Html.TextBoxFor(m => m.IdSmart, new { Value = "" })
            @Html.ValidationMessageFor(model => model.IdSmart,null, new { @class = "validation" })
          </div>
        </div>
        <div id="NomeDiv" class="row">
          <div class="col-lg-2">
            @Html.LabelFor(m => m.Name)<span>:</span>
          </div>
          <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Name, new { Value = "" })
            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "validation" })
          </div>
        </div>
        <div id="EmailDiv" class="row">
          <div class="col-lg-2">
            @Html.LabelFor(m => m.Email)<span>:</span>
          </div>
          <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Email, new { Value = "" })
            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "validation" })
          </div>
        </div>
            <div id="AreaDepartamentoDiv" class="row">
              <div class="col-lg-2">
                @Html.LabelFor(m => m.AreaDepartament)<span>:</span>
              </div>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.AreaDepartament, new { Value = "" })
                @Html.ValidationMessageFor(model => model.AreaDepartament, null, new { @class = "validation" })
              </div>
            </div>
            <div id="FuncaoDiv" class="row">
              <div class="col-lg-2">
                @Html.LabelFor(m => m.Funtion)<span>:</span>
              </div>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Funtion, new { Value = "" })
                @Html.ValidationMessageFor(model => model.Funtion, null, new { @class = "validation" })
              </div>
            </div>
            <div id="RamalDiv" class="row">
              <div class="col-lg-2">
                @Html.LabelFor(m => m.ExtensionLine)<span>:</span>
              </div>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.ExtensionLine, new { Value = "" })
              </div>
            </div>
            <div id="GerenteDiv" class="row">
              <div class="col-lg-2">
                @Html.LabelFor(m => m.Manager)<span>:</span>
              </div>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Manager, new { Value = "" })
                @Html.ValidationMessageFor(model => model.Manager, null, new { @class = "validation" })
              </div>
            </div>
            <div id="Role" class="row">
              <div class="col-lg-2">
                @Html.LabelFor(m => m.RolesId)<span>:</span>
              </div>
              <div class="col-lg-10">
                @Html.ListBoxFor(m => m.RolesId, Model.Roles)
                @Html.ValidationMessageFor(model => model.RolesId, null, new { @class = "validationSelect" })
              </div>
            </div>

            <input type="submit" value="Finalizar">
    }
  </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
  $(document).ready(function () {
    GenericPostHandler($("#userRegister-fmr"), $("#container-partials"));
  });
</script>








