@model POC_MVC_Biblioteca.ViewModels.AllUsersViewModel
<h3>Lista de Usuários</h3>

@*@using (Html.BeginForm("GetBooks", "BooksCatalog", FormMethod.Post, new { id = "QueryBooks-frm" }))
{
    <div id="consulta-filtros" class="book-filter">
      <div>
        <label>Filtros:</label>
      </div>
      <label>Titulo:</label>
      @Html.TextBoxFor(model => model.TitleFilter)
      <label>Autor:</label>
      @Html.TextBoxFor(model => model.AuthorFilter)
      <label>Editora:</label>
      @Html.TextBoxFor(model => model.EditorFilter)
      @* @Html.DropDownListFor(model => model.FiltroCategoria, Model.ListaCategorias, "-- Selecione --");*@
      <input type="submit" value="consultar" />
    </div>
}*@

<div id="user-list">
  <div class="container">
    <div class="row">
      <table class="table table-striped user-table">
        <thead>
          <tr>
            <th class="col-lg-3"><b>Nome</b></th>
            <th class="col-lg-1"><b>Id</b></th>
            <th class="col-lg-2"><b>Ramal</b></th>
            <th class="col-lg-3"><b>Email</b></th>
            <th class="col-lg-3"><b>Area/Departamento</b></th>
          </tr>
        </thead>
        <tbody>
          @if (!Model.UserList.Any())
          {
              <tr>
                <td class="col-xs-2">
                  <p>Nao existem Usuários cadastrados</p>
                </td>
              </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row user-list">
      <table class="table table-striped table-bordered">
        <tbody>
          @foreach (var item in Model.UserList)
            {
              <tr>
                <td class="col-lg-3">
                  <label>@item.Name</label>
                </td>
                <td class="col-lg-1">
                  <label>@item.IdSmart</label>
                </td>
                <td class="col-lg-2">
                  <label>@item.ExtensionLine</label>
                </td>
                <td class="col-lg-3">
                  <label>@item.eMail</label>
                </td>
                <td class="col-lg-3">
                  <label>@item.AreaDepartament</label>
                </td>
              </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
