@model POC_MVC_Biblioteca.ViewModels.UserViewModel
<h3>Cadastro de Usuários</h3>
<div id="cadastro-usuario-partial" class="cadastro-usuario-partial">
  <div id="cadastro-usuario-partial-container" class="container-fluid">
    <div id="BuscarLoginDiv" class="row">
      <div class="col-lg-2">
        @Html.Label("Buscar por Login:")
      </div>
      <div class="col-lg-10">
        @Html.TextBox("SamAccountName")
      </div>
    </div>
    @using (@Html.BeginForm("CreateUser", "User", FormMethod.Post, new { id = "userRegister-fmr" }))
    {
        <div id="SamAccountNameDiv" class="row">
          <div class="col-lg-2">
            @Html.Label("Login:")
          </div>
          <div class="col-lg-10">
            @*@Html.TextBoxFor(m => m.SamAccountName, new { Value = "" })*@
            @Html.TextBoxFor(m => m.SamAccountName, new { Value = "" })
          </div>
        </div>

        <div id="IdSmartDiv" class="row">
          <div class="col-lg-2">
            @Html.Label("Código/Id:")
          </div>
          <div class="col-lg-10">
            @Html.TextBoxFor(m => m.IdSmart, new { Value = "" })
          </div>
        </div>
        <div id="NomeDiv" class="row">
          <div class="col-lg-2">
            @Html.Label("Nome:")
          </div>
          <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Name, new { Value = "" })
          </div>
        </div>
        <div id="EmailDiv" class="row">
          <div class="col-lg-2">
            @Html.Label("E-Mail:")
          </div>
          <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Email, new { Value = "" })
          </div>
        </div>
            <div id="AreaDepartamentoDiv" class="row">
              <div class="col-lg-2">
                @Html.Label("Area/Departamento:")
              </div>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.AreaDepartament, new { Value = "" })
              </div>
            </div>
            <div id="FuncaoDiv" class="row">
              <div class="col-lg-2">
                @Html.Label("Função:")
              </div>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Funtion, new { Value = "" })
              </div>
            </div>
            <div id="RamalDiv" class="row">
              <div class="col-lg-2">
                @Html.Label("Ramal:")
              </div>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.ExtensionLine, new { Value = "" })
              </div>
            </div>
            <div id="GerenteDiv" class="row">
              <div class="col-lg-2">
                @Html.Label("Gerente:")
              </div>
              <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Manager, new { Value = "" })
              </div>
            </div>
            <div id="Role" class="row">
              <div class="col-lg-2">
                @Html.Label("Perfil:")
              </div>
              <div class="col-lg-10">
                @Html.ListBoxFor(m => m.RolesId, Model.Roles)
              </div>
            </div>

            <input type="submit" value="Finalizar">
    }
  </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
  $(document).ready(function () {
    GenericPostHandler($("#userRegister-fmr"), $("#container-partials"));
  });
</script>








