@model POC_MVC_Biblioteca.ViewModels.BooksViewModel
<div id="consulta-Livros-partial" class="book-partial">
  <h3>Consulta de livros</h3>
  @using (Html.BeginForm("GetBooks", "BooksCatalog", FormMethod.Post, new { id = "QueryBooks-frm", @class= "form - group" }))
  {
      <div id="consulta-filtros" class="book-filter">
        <div>
          <label>Filtros:</label>
        </div>
        @Html.TextBoxFor(model => model.Title,new { @class = "form-control" , placeholder="Titulo" })
        @Html.TextBoxFor(model => model.Author, new { @class = "form-control", placeholder = "Autor" })
        @Html.TextBoxFor(model => model.Editor, new { @class = "form-control", placeholder = "Editora" })
        <input type="submit" value="consultar" class="btn btn-sm" />
      </div>

  }
  <div class="container">
    <div id="row">
      <table class="table-striped book-table">
        <thead>
          <tr>
            <th class="col-lg-3"><b>Titulo</b></th>
            <th class="col-lg-3"><b>Autor</b></th>
            <th class="col-lg-2"><b>Editora</b></th>
            <th class="col-lg-2"><b>Categoria</b></th>
            <th class="col-lg-2"><b>Publicação</b></th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="books-list row">
      <table class="table table-striped table-bordered">
        <tbody>
          @if (!Model.BooksList.Any())
          {
              <tr>
                <td>
                  <label>Nao existem Livros cadastrados</label>
                </td>
              </tr>
          }
          @foreach (var item in Model.BooksList)
          {
              <tr>
                <td class="col-lg-3">
                  <label>@item.Title</label>
                </td>
                <td class="col-lg-3">
                  <label>@item.Author</label>
                </td>
                <td class="col-lg-2">
                  <label>@item.Editor</label>
                </td>
                <td class="col-lg-2">
                  <label>@item.Category.Name</label>
                </td>
                <td class="col-lg-2">
                  <label>@item.BookYear.ToShortDateString()</label>
                </td>
              </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
  $(document).ready(function () {
    GenericPostHandler($("#QueryBooks-frm"), $("#conteudoDireita"));
  });
</script>

