@model POC_MVC_Biblioteca.ViewModels.BooksViewModel
<div id="consulta-Livros-partial" class="book-partial">
  <h3>Consulta de livros</h3>
  @using (Html.BeginForm("GetBooks", "BooksCatalog", FormMethod.Post, new { id = "QueryBooks-frm", @class = "form - group" }))
  {
      <div id="consulta-filtros" class="book-filter">
        <div>
          <label>Filtros:</label>
        </div>
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Titulo" })
        @Html.TextBoxFor(model => model.Author, new { @class = "form-control", placeholder = "Autor" })
        @Html.TextBoxFor(model => model.Editor, new { @class = "form-control", placeholder = "Editora" })
        <input type="submit" value="consultar" class="btn btn-sm" />
      </div>

  }
  <div class="container">
    <div class="books-list row">
      <table class="table table-striped table-bordered">
        <tbody>
          @if (!Model.BooksList.Any())
          {
              <tr>
                <td>
                  <label>Nao existem Livros cadastrados</label>
                </td>
              </tr>
          }
          @foreach (var item in Model.BooksList)
          {
              <tr>
                <td class="col-lg-2">
                  @if (item.Cover != null)
                  {
                      <img class="img-thumbnail" src="data:image/png;base64,@Convert.ToBase64String(item.Cover,0,item.Cover.Length)" />
                  }
                </td>
                <td class="col-lg-9">
                  <div><h4>@item.Title</h4></div>
                  <div><label class="books-description truncate">@item.Description</label></div>
                  <div class="books-buttons">
                    <button id="locateBook-@item.Id" data-cmd="locate" class="btn btn-default btn-xs">Locar</button>
                    <button id="reserveBook-@item.Id" data-cmd="reserve" class="btn btn-default btn-xs">Reservar</button>
                    <button id="detailBook-@item.Id" data-cmd="detail" class="btn btn-default btn-xs">Detalhes</button>
                    @if (User.IsInRole("Administrator"))
                    {
                        <button id="editBook-@item.Id" data-cmd="edit" class="btn btn-default btn-xs">Editar</button>
                        <button id="excludeBook-@item.Id" data-cmd="@Url.Action("DeleteBook", "BooksCatalog", new { bookId = item.Id})" class="btn btn-default btn-xs">Excluir</button>
                    }
                    <label class="books-quantity">Disponiveis: @item.Quantity</label>

                  </div>
                </td>
              </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/App/list-book.js"></script>


