@model POC_MVC_Biblioteca.ViewModels.BooksViewModel
<section id="acervo">
  <h2>Acervo</h2>
  <div id="container" class="container-fluid">
    <div id="separador" class="row acervo-separador">
      <div id="menuLateralEsquerdo" class="col-lg-3 acervo-menu-esquerda">
        <div id="reservaLocacao" class="container acervo-reserva-locacao" style="height: 268px;">
          <div id="tituloLocacao" class="row">
            <label id="lblTituloLocacao">Reserva de locação</label>
          </div>
          <div id="containerLocacao" class="row login">
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                </div>
                <div>
                  @using (Html.BeginForm("Logoff", "Login", FormMethod.Post, new { name = "Logoff-frm", @class = "form-group" }))
                  {
                      @Html.AntiForgeryToken()
                      <input type="submit" value="Sign-off" id="logout" class="btn btn-sm">
                  }
                </div>
            }
            else
            {
              using (Html.BeginForm("Index", "Login", FormMethod.Post, new { name = "Index", @class = "form-group" }))
              {
                    @Html.AntiForgeryToken()
                    <input type="text" title="Login" name="UserName" class="form-control" placeholder="login" />
                    <input type="password" title="Password" name="Password" class="form-control" placeholder="password" />
                    <div>
                      <input type="submit" value="Sign In" id="login" class="btn btn-sm">
                      @Html.ActionLink("Sign up", "Index", "User")
                    </div>
              }
                <div>
                  <a>Forgot your password</a>
                </div>
            }
          </div>
        </div>
        <div id="categorias" class="container acervo-categorias">
          <div id="tituloCategorias" class="row">
            <label>Categorias</label>
          </div>
          <div id="containerCategorias" class="row">
            <ul>
              @foreach (var category in Model.BookCategories)
              {
                  <li><a data-navigation-categories=@Url.Action("GetBooksPerCategory", "BooksCatalog", new { categoryId = category.Value})>@category.Text</a></li>
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 acervo-menu-direita">
        <div id="navegacao_acervo" class="acervo-navegacao">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" id="Consultas" data-navigation-partial=@Url.Action("BooksCatalogNavigation", "BooksCatalog", new { partialViewName = "_ConsultaLivros" })>Consultar</a></li>
            @if (User.IsInRole("Administrator"))
            {
                <li role="presentation"><a data-toggle="tab" id="Cadastro" data-navigation-partial=@Url.Action("BooksCatalogNavigation", "BooksCatalog", new { partialViewName = "_CadastroLivros"})>Cadastrar</a></li>
                <li role="presentation"><a data-toggle="tab" id="LivrosEmprestados" data-navigation-partial="@Url.Action("BooksCatalogNavigation", "BooksCatalog", new { partialViewName = "_EmprestimoLivros" })">Empréstimos</a></li>
            }
            else
            {
                <li role="presentation" class="disabled"><a data-toggle="tab disabled" id="Cadastro">Cadastrar</a></li>
                <li role="presentation" class="disabled"><a data-toggle="tab disabled" id="LivrosEmprestados">Empréstimos</a></li>
            }
          </ul>
        </div>
        <div id="conteudoDireita">
          @{
              Html.RenderAction("GetBooks", "BooksCatalog");
          }
        </div>
      </div>
    </div>
  </div>
</section>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/App/Common.js"></script>
<script src="~/Scripts/App/BookScripts.js"></script>
