<!DOCTYPE html>
<html>
<head runat="server">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>@ViewBag.Title - SMARTBOOKS - Biblioteca Smart</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">

          <span class="logo-small"></span>
              @Html.ActionLink("SmartBooks", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
          <button type="button" class="navbar-toggle collapsed:focus" data-toggle="collapse" data-target="#botao-navegacao" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
     </div>
      <div class="navbar-collapse collapse" id="botao-navegacao">
        <ul class="nav navbar-nav navbar-right">
          <!--The table downway is a link for another pages like Home, About and Contact-->
          <li>@Html.ActionLink("Acervo", "Index", "BooksCatalog")</li>
          <li>@Html.ActionLink("Cadastro", "Index", "User")</li>
          
            <!--O link abaixo precisa ser ligado à página "Contact" quando a mesma estiver pronta-->
          <li>@Html.ActionLink("Sugestões", "Contact", "Home")</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>Copyright &copy; @DateTime.Now - Designed by R&D - Research and Development Smart Modular Technologies Brazil. All rights reserved. </p>
    </footer>
  </div>
  <script src="~/Scripts/moment.js"></script>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
